accounts:
  - name: alice
    coins: ["200000000ujkl", "100000000ujwl"]
    mnemonic: "across business friend enact find light myself pistol stick place oil anchor deny orient sudden educate flame proud crash panel right aisle found connect"
  - name: bob
    coins: ["100000000ujkl"]
    mnemonic: "ripple doctor enforce review soldier rebuild video blanket vehicle market media forward hover thought fitness cover effort uniform club fence reveal slam spoon wasp"
validator:
  name: alice
  staked: "100000000ujkl"
client:
  openapi:
    path: "docs/static/openapi.yml"
  vuex:
    path: "vue/src/store"
faucet:
  name: bob
  coins: ["1000000ujkl"]
init:
  app:
    minimum-gas-prices: "0.002ujkl"
    api:
      swagger: "true"
  client:
    chain-id: "canine-1"
genesis:
  app_state:
    staking:
      params:
        bond_denom: "ujkl"
    mint:
      params:
        mint_denom: "ujkl"
  chain_id: "canine-1"
build:
  main: "cmd/canined"
