name: Build

on:
  pull_request:
  push:
    branches: ["master", "dev"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: actions/setup-go@v4
        with:
          go-version: 1.19 # The Go version to download (if necessary) and use.
      - name: Build CLI
        run: go install ./...
