name: Canary

on:
  push:
    branches: [ "master"]


jobs:
  build-cli:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest]
    steps:
      - uses: actions/checkout@v3.4.0
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.2 # The Go version to download (if necessary) and use.
      - name: Build CLI
        shell: bash
        run: |
          make build
          cp "build/canined" "canined-$RUNNER_OS"
      - uses: actions/upload-artifact@v3
        with:
          name: canined-${{runner.os}}
          path: canined-${{runner.os}}

  Release:
    needs:
      [build-cli]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.4.0
      - uses: EndBug/latest-tag@latest
        with:
          # You can change the name of the tag with this input.
          # Default: 'latest'
          tag-name: canary
      - uses: actions/download-artifact@v3
        with:
          name: canined-Linux
      - uses: actions/download-artifact@v3
        with:
          name: canined-macOS
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          name: Canary
          files: |
            canined-macOS
            canined-Linux
