name: Simulation Test

on:
  pull_request:
  push:
    branches: ["master"]

jobs:
  simtest:
    name: Simulation Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22.2 # The Go version to download (if necessary) and use.
      - name: Simulation Test
        shell: bash
        run: make test-sim-full-app
