name: Simulation Test

on:
  pull_request:
  push:
    branches: ["master"]

jobs:
  io-sim:
    name: Import Export Sim Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-go@v5
        with:
          go-version: 1.20.2 # The Go version to download (if necessary) and use.
      - name: Simulation
        shell: bash
        run: make test-sim-import-export
